div.btn-credit-collect {
    position: fixed; 
    bottom: 10vh;
    left: 50vw;
    border: dotted purple 2px; 
    } 

    img {
        background-image: 'cat-vector.jpg';
    }

    div.notice {

        margin-top: 45px;
        font-family: 'Madeleina Sans', sans-serif

    }