
.cat_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
      
    }
    
    div.cat_box > p,h3 {
    text-align: center;
    
    }

    h1 {
        text-align: center;
        border: dotted antiquewhite 2px;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    h2 {
    text-align: center;
    margin-top: 60px;
    }
 

    h4 {
        text-align: center;
    }

   div.cat_box > a {
       position: relative;
       color: rgb(0, 0, 0);
       font-size: 1.09em;
   }

   a#new-cat, a#user-change {
    position: relative; 
    display: inline-block;
    font-size: 1.2em;
    margin-top: 5vh;
    margin-bottom: 5vh;
    left: 3vh;
   }

  