body {
<<<<<<< HEAD
=======
    /* overflow: hidden; */
>>>>>>> 5a8d302057026b5d60c0303e6e3befc97133f6a9
}


div.cat-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    left: 20px;
}
    



