<link rel="stylesheet" href="/show_user_edit_styles.css">

<div class="user-container">
<%=render 'form' %>
<br><br>

<p><%= link_to "I'm maxed out on cute kittehs. Delete my account.",  delete_user_path(@user) %></p>
</div>