<link rel="stylesheet" href="/new_user_styles.css">

<img id="banner" src="https://media.giphy.com/media/N6p1T5qOz57POUgm88/giphy.gif">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% if @user.errors.any? %>
<div id="error_explanation"> 
  <p>Please fix these errors before moving on<p>

  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
    </div>
<% end %>
<div class="form-group">
<div class="login">
<%= link_to 'Log in with Facebook!', "/auth/facebook", method: :post, class: "fb-login" %>
<%= render 'form' %>
</div>
</div>
