<link rel="stylesheet" href="/new_cat_styles.css">


<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @cat.errors.any? %>
    <div id="error_explanation"> 
      <p>Please fix these errors before moving on<p>
      <ul>
        <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<br><br>


<input id="btn" type="button", value= "New Cat">
<br><br>
<div class="cat-container">
</div>
<br><br>

<%= render 'form' %>

<br>

<script  src="/index.js"></script> 



